# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Visual Studio
.vs/
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Rider
.idea/
*.sln.iml

# macOS
.DS_Store

# Build Results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
